.advantages {
  padding-bottom: 28px;

  @media (min-width: $tablet-width) {
    padding-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 175px 60px;
  }
}

.advantages__list {
  @include lists;

  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, 1fr);
    row-gap: 27px;
    grid-auto-flow: column;
  }
}

.advantages__heading {
  margin-bottom: 28px;

  @media (min-width: $tablet-width) {
    margin-bottom: 43px;
  }
}

.advantages__item {
  position: relative;
  margin-bottom: 28px;
  line-height: 20px;
  padding-top: 55px;

  &:last-child {
    margin-bottom: 0;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 22px;
  }
}

.advantages__item--flower-icon::before {
  @include pseudo(33px,38px,0,8px);
  background: url("../img/flower.svg");
}

.advantages__item--money-icon::before {
  @include pseudo(47px,27px,1px,0);
  background: url("../img/money.svg");
}

.advantages__item--heart-icon::before {
  @include pseudo(34px,27px,6px,7px);
  background: url("../img/heart.svg");
}

.advantages__item--ball-icon::before {
  @include pseudo(35px,34px,3px,3px);
  background: url("../img/ball.svg");
}

.advantages__item--rocket-icon::before {
  @include pseudo(55px,23px,4px,-6px);
  background: url("../img/rocket.svg");
}

.advantages__item--gift-icon::before {
  @include pseudo(33px,32px,2px,3px);
  background: url("../img/gift.svg");
}
