.contacts {
  margin-bottom: 40px;

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 175px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 300px 200px;
  }
}

.contacts__map {
  position: relative;
  margin-bottom: 40px;
}

.contacts__marker {
  position: absolute;
  top: 153px;
  right: 118px;
  width: 67px;
  height: 100px;
  background: url("../../img/map-pin.svg");
}

.contacts__heading {
  position: relative;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    &::after {
      @include pseudo(47px, 81px);
      right: 0;
      background: url("../img/flag.svg");
    }
  }

  @media (min-width: $desktop-width) {
    &::after {
      left: -100px;
    }
  }
}
