.contacts {
  min-width: 320px;
  padding-bottom: 39px;
  padding-top: 21px;


  @media (min-width: $tablet-width) {
    padding-top: 48px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: 370px 1fr;
    grid-template-rows: 413px 1fr;
    column-gap: 5px;
    padding: 70px 0 105px 200px;
    margin: 0 auto;
    max-width: $desktop-width;
  }

  .container {
    @media (min-width: $desktop-width) {
      padding: 0;
    }
  }
}

.contacts__map-container {
  position: relative;
  width: 100%;

  iframe {
    display: block;
    width: 100%;

    @media (min-width: $tablet-width) {
      height: 457px;
    }

    @media (min-width: $desktop-width) {
      width: 527px;
    }
  }
}

.contacts__map {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 55px;
  }

  @media (min-width: $desktop-width) {
    grid-row: span 2;
    margin-bottom: 0;
    padding-top: 8px;
    justify-content: start;
  }
}

.contacts__marker {
  @include pseudo(67px,100px,145px,138px);

  background: url("../../img/map-pin.svg");
}

.contacts__link-button {
  align-self: center;

  @media (min-width: $tablet-width) {
    width: 230px;
    margin: 0 auto;
    padding: 14px 27px;
  }

  @media (min-width: $desktop-width) {
    margin: 0;
  }
}

.contacts__heading {
  position: relative;
  margin-bottom: 27px;
  padding-top: 17px;

  @media (min-width: $tablet-width) {
    margin-bottom: 48px;

    &::after {
      @include pseudo(47px, 81px);
      top: -6px;
      right: 3px;
      background: url("../img/flag.svg");
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 88px;
    margin-bottom: 35px;

    &::after {
      top: 70px;
      left: -112px;
    }
  }
}

.contacts__link {
  position: relative;
  padding-bottom: 3px;
  font: inherit;
  color: $regular-text-color;
  text-decoration: none;

  &::after {
    @include pseudo(167px,1px,21px,1px);
    background-color: $accent-color;
  }
}
