.deals-list {
  display: none;

  @media (min-width: $desktop-width) {
    display: flex;
    order: 4;
    margin-left: -30px;
  }
}

.deals-list__item {
  padding: 14px 31px 20px;
}

.deals-list__link {
  @include fonts($main-font, 15px, 24px, 700, $bold-text-color);
  text-decoration: none;
}
