.developer-info {
  display: flex;
  align-items: center;
  justify-content: center;
}

.developer-info__text {
  @include fonts($main-font, 19px, 18px, 700, $bold-text-color);
  margin: 0;
  margin-right: 28px;

  @media (min-width: $tablet-width) {
    padding-bottom: 8px;
  }
}

.developer-info__link {
  padding-top: 22px;
  padding-bottom: 17px;

  @include fonts($main-font, 19px, 18px, 700, $bold-text-color);
  text-decoration: none;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
    padding-bottom: 54px;
  }
}

.developer-info__icon {
  fill: $accent-color;

  &:hover {
    fill: $links-actions-color;
  }
}
