.featured {
  position: relative;
  padding-top: 31px;
  padding-bottom: 42px;

  &::after {
    @include pseudo(100vw, 6px);
    bottom: 0;
    background: url("../img/zigzag.svg");
  }

  @media (min-width: $tablet-width) {
    padding-top: 54px;
    padding-bottom: 70px;

    &::after {
      width: 100vw;
      height: 17px;
      background-size: cover;
    }
  }

  @media (min-width: $desktop-width) {
    padding-top: 134px;
    padding-bottom: 100px;

    &::after {
      width: 1150px;
      height: 23px;
      background-size: cover;
    }
  }
}

.featured__top {
  position: relative;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 175px;
    margin-bottom: 31px;
  }
}

.featured__bottom {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 292px 1fr;
    grid-template-rows: 127px 113px 124px 52px;
    column-gap: 42px;
  }

  @media (min-width: $desktop-width) {
    grid-template-rows: 139px 113px 178px 52px;
    column-gap: 58px;
    padding: 0 0 0 175px;
  }
}

.featured__heading {
  margin-bottom: 5px;
}

.featured__badge {
  margin: 0;
  margin-bottom: 16px;
  line-height: 20px;
  color: $accent-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    max-width: 130px;
    margin-top: 6px;
    margin-right: -2px;
    line-height: 17px;
    text-align: center;
  }

  @media (min-width: $desktop-width) {
    position: absolute;
    top: 2px;
    left: 16px;
  }
}

.featured__text {
  margin: 0;
  margin-bottom: 18px;
  font-size: 15px;
  font-weight: 400;
  color: $regular-text-color;

  @media (min-width: $tablet-width) {
    margin-bottom: -2px;
    font-size: 17px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 10px;
  }
}

.featured__image-container {
  margin: 0;

  @media (min-width: $tablet-width) {
    grid-column: 2/3;
    grid-row: 1/5;
    padding-top: 12px;
  }
}

.featured__img {
  @media (min-width: $tablet-width) {
    width: 334px;
    height: 404px;
  }

  @media (min-width: $desktop-width) {
    margin-top: -166px;
    width: 525px;
    height: 636px;
  }
}

.featured__price {
  padding: 20px 0 24px 0;
  margin: 0;
  color: $regular-text-color;
  text-align: center;

  @media (min-width: $tablet-width) {
    align-self: end;
    padding-bottom: 32px;
    font-size: 20px;
    line-height: 24px;
  }
}
