.footer {
  background-color: $wave-decorative-color;
}

.footer__container {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.footer__logo {
  display: none;
  margin-left: 0;
  cursor: pointer;

  @media (min-width: $tablet-width) {
    display: block;
  }
}

.footer__icon--interactive {
  &:hover {
    path {
      fill: $accent-color;
    }
  }

  &:active {
    opacity: 0.3;

    path {
      fill: $accent-color;
    }
  }
}
