.form__category {
  margin: 0;
  margin-bottom: 30px;
  padding: 0;
  border: none;

  @media (min-width: $tablet-width) {
    padding: 50px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 50px 175px 50px 45px;
  }
}

.form__category--comments {
  margin-bottom: 17px;
}

.form__category .container {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: max-content 1fr;
    column-gap: 87px;
  }
}

.form__category:nth-child(odd) {
  @media (min-width: $tablet-width) {
    background-color: $wave-decorative-color;
  }
}

.form__category-name {
  margin-bottom: 30px;
  line-height: 16px;
  color: $accent-color;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    float: left;
  }
}

.form__category--text {
  .form__control {
    margin-bottom: 17px;
    padding-left: 0;
  }

  .form__input {
    margin-left: -5px;
    border-bottom: 2px solid $regular-text-color;
  }
}

.form__list--color {
  @media (min-width: $tablet-width) {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__list {
  @include lists();
}

.form__list--personal {
  .form__control {
    margin-right: 20px;
  }
}

.form__item {
  @media (min-width: $tablet-width) {
    display: flex;
    align-items: baseline;
  }
}

.form__control {
  display: block;
  margin-bottom: 24px;
  padding-left: 60px;
  line-height: 18px;

  @media (min-width: $tablet-width) {
    font-size: 19px;
  }
}

.form__input {
  margin-bottom: 22px;
  padding: 10px 5px;
  border: none;

  &::placeholder {
    @include fonts($main-font, 17px, 18px, 400, $bold-text-color);
    opacity: 0.3;

    @media (min-width: $tablet-width) {
      font-size: 19px;
    }
  }
}

.form__input--textarea {
  min-height: 142px;
  width: 100%;
  margin-bottom: 0;
  padding: 17px 17px 0 17px;
  border: 2px solid $bold-text-color;
}

.form__input[type="text"] {
  width: 100%;
}

.form__input--tel {
  width: 100%;
  background: url("../img/phone.svg") no-repeat right;
}

.form__input--email {
  width: 100%;
  background: url("../img/mail.svg") no-repeat right;
}

.form__button {
  background-color: transparent;
}

.form__required-info {
  margin: 0;
  margin-bottom: 30px;

  @include fonts($main-font, 14px, 16px, 400);

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
    order: 2;
    font-size: 17px;
    line-height: 30px;
  }
}

.form__bottom {
  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop-width) {
    padding: 0 225px;
  }
}
