.header {
  position: relative;
  background-color: #F9F9F9;

  @media (min-width: $tablet-width) {
    &::after {
      @include pseudo(100%, 24px);
      bottom: -7px;
      z-index: 1;
      background: url("../img/zigzag-fill.svg");
    }
  }
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 282px;
  background: url("../img/header-bg.jpg") no-repeat center;
  background-size: 320px auto;
  background-position-y: -18px;

  @media (min-resolution: 2dppx) {
    background: url("../img/header-bg@2x.jpg") no-repeat center;
    background-size: 320px auto;
    background-position-y: -18px;
  }

  @media (min-width: $tablet-width) {
    min-height: 560px;
    align-items: stretch;
    background: url("../img/header-bg-tablet.jpg") no-repeat center;
    background-size: 768px auto;
    background-position-y: -67px;

    @media (min-resolution: 2dppx) {
      background: url("../img/header-bg-tablet@2x.jpg") no-repeat center;
      background-size: 768px auto;
      background-position-y: -67px;
    }
  }

  @media (min-width: $desktop-width) {
    min-height: 562px;
    background: url("../img/header-bg-desktop.jpg") no-repeat center;
    background-position-y: -65px;

    @media (min-resolution: 2dppx) {
      background: url("../img/header-bg-desktop@2x.jpg") no-repeat center;
      background-size: 1150px auto;
      background-position-y: -65px;
    }
  }
}

.header__heading {
  margin: 0;
  padding: 24px 0 73px;
  font-size: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 88px;
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 94px 0;
    font-size: 53px;
    line-height: 57px;
  }
}

.header__heading--inner {
  padding: 76px 0;
  margin: 0 30px;

  @media (min-width: $tablet-width) {
    margin: 0;
    padding: 35px 20px 72px;
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 95px;
  }
}

.header__list {
  @include lists();
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    padding: 0 50px;
  }
}

.header__item {
  @media (min-width: $tablet-width) {
    flex-grow: 1;
    min-width: 334px;
    max-width: 525px;
  }
}

.header__link {
  position: relative;
  display: block;
  padding: 24px 80px 31px 30px;
  font-size: 19px;
  color: $white-color;
  text-decoration: none;
  transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
    padding-top: 26px;
    padding-left: 36px;
    padding-bottom: 37px;

    &:hover {
      transform: translateY(-5px);

      .header__icon {
        opacity: 0.7;
      }
    }

    &:active {
      .header__icon {
        opacity: 0.3;
      }
    }
  }
}

.header__link--interior {
  background-color: $accent-color;

  &:hover {
    background-color: $light-accent-color;
  }
}

.header__link--toy {
  background-color: $dark-accent-color;

  &:hover {
    background-color: $links-actions-color;
  }
}

.header__list-container {
  padding: 0;
}

.header__icon {
  position: absolute;
  top: 23px;
  right: 36px;
  opacity: 0.5;
  fill: #149080;

  @media (min-width: $tablet-width) {
    top: 30px;
    right: 36px;
  }
}

.header__icon--toy {
  top: 21px;
  right: 27px;

  @media (min-width: $tablet-width) {
    top: 31px;
    right: 34px;
  }
}
