.header {
  margin-bottom: 30px;
  background-color: #f9f9f9;
}

.header__container {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 289px;
  background-image: url("../img/header-bg.jpg");
  background-position: 40% 50%;
  background-repeat: no-repeat;
  background-size: cover;

  @media (min-width: $tablet-width) {
    min-height: 627px;
  }
}

.header__heading {
  margin: 0;
  padding: 73px 0;
  font-size: 27px;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 43px;
    line-height: 50px;
  }

  @media (min-width: $desktop-width) {
    padding: 100px 0;
  }
}

.header__list {
  @include lists();

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: center;
    padding: 0 50px;
  }
}

.header__item {
  padding: 0 30px;

  @media (min-width: $tablet-width) {
    flex-grow: 1;
    padding: 0 36px;
    min-width: 334px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 50px;
    min-width: 525px;
  }
}

.header__link {
  display: block;
  max-width: 130px;
  padding: 24px 0 28px 0;
  font-size: 19px;
  color: $white-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 30px;
  }
}

.header__link--interior {
  background: url("../img/interior.svg") no-repeat 90% 40%;
}

.header__link--toy {
  background: url("../img/toy.svg") no-repeat 90% 40%;
}

.header__item:first-child {
  background-color: $accent-color;
}

.header__item:last-child {
  background-color: $dark-accent-color;
}

.header__list-container {
  padding: 0;
}
