.link-button {
  @include fonts($main-font, 18px, 20px, 700, $regular-text-color);
  display: block;
  padding: 14px 38px;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  border: 2px solid $regular-text-color;

  &:hover {
    color: $white-color;
    background-color: $regular-text-color;
  }

  &:active {
    color: rgba(255, 255, 255, 0.3);
  }

  @media (min-width: $tablet-width) {
    font-size: 17px;
  }
}
