.main-nav {
  padding-top: 10px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.main-nav__toggle {
  position: relative;
  display: none;
  width: 20px;
  height: 14px;
  padding-right: 45px;
  border: none;
  background-color: transparent;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $bold-text-color;
    box-shadow: 0 6px 0 0 $bold-text-color;
    transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);
  }

  &::before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 20px;
    height: 2px;
    background-color: $bold-text-color;
    transition: all 0.4s cubic-bezier(0.1, 0.82, 0.76, 0.96);
  }

  @media (min-width: $tablet-width) {
    display: none;
  }
}

.main-nav__list {
  @include lists();
  width: 100%;

  @media (min-width: $tablet-width) {
    display: flex;
    width: auto;
  }
}

.main-nav__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.main-nav__logo {
  padding-top: 12px;
  order: 0;

  @media (min-width: $tablet-width) {
    order: 1;
  }

  @media (min-width: $desktop-width) {
    order: 2;
  }
}

.main-nav__delivery {
  display: none;
  font-size: 15px;
  font-weight: 400;
  color: $regular-text-color;
  text-decoration: none;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 20px 0;
    order: 5;
  }
}

.main-nav--close {
  @media (max-width: 767px) {

    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;

    .main-nav__wrapper {
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 0;
      background-color: $white-color;
    }

    .main-nav__toggle {
      display: block;
      margin-left: auto;
      z-index: 2;
    }

    .main-nav__list {
      display: none;
    }
  }
}

.main-nav--open {
  @media (max-width: 767px) {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 32px 0;

    .main-nav__wrapper {
      position: absolute;
      z-index: 1;
      top: 10px;
      left: 0;
      background-color: $white-color;
    }

    .main-nav__toggle {
      display: block;
      z-index: 2;
      margin-left: auto;

      &::after {
        top: 5px;
        width: 21px;
        transform: rotate(45deg);
        box-shadow: none;
      }

      &::before {
        top: 5px;
        width: 21px;
        transform: rotate(-45deg);
      }
    }

    .main-nav__list:not(:last-child) {
      display: block;
    }
  }
}
