.order-form {
  padding-top: 17px;
  margin-bottom: 55px;

  @media (min-width: $tablet-width) {
    padding-top: 69px;
    margin-bottom: 50px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 120px;
    margin-bottom: 50px;
  }
}

.order-form__greetings {
  @include fonts($main-font, 13px, 24px, 400);
  margin: 0;
  margin-bottom: 30px;

  @media (min-width: $tablet-width) {
    font-size: 17px;
    line-height: 30px;
    margin-bottom: 7px;
  }

  @media (min-width: $desktop-width) {
    padding: 0 175px;
  }
}
