.reviews__item {
  margin: 0;
}

.reviews__text {
  @include fonts($main-font, 15px, 30px, 400);
}

.reviews__author-name {
  font-style: normal;
}

.reviews__author-nickname {
  line-height: 30px;
  font-weight: 400;
  font-style: normal;
}

.reviews__slider-control {
  display: flex;
}
