.site-list {
  margin-top: 16px;
  border-top: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    order: 3;
    margin-top: 0;
    border-top: none;
  }

  @media (min-width: $desktop-width) {
    order: 1;
    margin-left: -35px;
  }
}

.site-list__item:not(:last-child) {
  @media (min-width: $tablet-width) {
    margin-right: 37px;
  }

  @media (min-width: $desktop-width) {
    margin-right: 2px;
  }
}

.site-list__item:last-child {
  @media (min-width: $desktop-width) {
    border-left: 1px solid $border-color;
  }
}

.site-list__link {
  display: block;
  padding: 29px 0 25px 76px;
  text-decoration: none;
  color: inherit;
  border-bottom: 1px solid $border-color;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    font-size: 15px;
    padding: 21px 0;
    border-bottom: none;
  }

  @media (min-width: $desktop-width) {
    font-size: 17px;
    padding: 34px 34px 33px;
  }
}
