.slider {
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 0 0 0 175px;
  }
}

.slider__link-button {
  @media (min-width: $tablet-width) {
    max-width: 200px;
    position: absolute;
    right: 0;
    top: -4px;
    padding-right: 38px;
    padding-left: 38px;
  }

  @media (min-width: $desktop-width) {
    top: 1px;
    padding-right: 38px;
    padding-left: 38px;
  }
}

.slider__item {
  display: none;
  margin-bottom: 29px;
}

.slider__item--active {
  display: block;
}

.slider__nav-button {
  width: 100%;
  height: 52px;
  background: url("../img/slider-arrow.svg") no-repeat;
  background-position: center center;
  border: 1px solid $border-color;
  cursor: pointer;

  &:hover {
    opacity: 0.6;
  }

  &:active {
    opacity: 0.3;
  }

  @media (min-width: $tablet-width) {
    width: 50px;
    border: none;
  }
}

.slider__nav-button--next {
  transform: rotate(180deg);
  border-right: none;

  @media (min-width: $tablet-width) {
    width: 100px;
    border: none;
  }
}
