.slider {
  position: relative;

  @media (min-width: $desktop-width) {
    padding: 0 0 0 175px;
  }
}

.slider__link-button {
  @media (min-width: $tablet-width) {
    position: absolute;
    right: 0;
    top: 0;
  }
}

.slider__item {
  display: none;
  margin-bottom: 32px;
}

.slider__item--active {
  display: block;
}

.slider__nav-button {
  width: 130px;
  height: 52px;
  background: url("../../img/slider-arrow.svg") no-repeat;
  background-position: center center;
  border: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    width: 100px;
    border: none;
  }
}

.slider__nav-button--next {
  transform: rotate(180deg);
  border-right: none;

  @media (min-width: $tablet-width) {
    width: 100px;
    border: none;
  }
}
