.social-list {
  @include lists();
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid $footer-mobile-line-color;
  max-width: 500px;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    border: none;
  }
}

.social-list__item {
  margin-right: 41px;
  padding-top: 25px;
  padding-bottom: 21px;

  @media (min-width: $tablet-width) {
    padding-top: 51px;
    padding-bottom: 57px;
  }
}

.social-list__item:last-child {
  margin-right: 0;
}
