.specs {
  border-collapse: collapse;
  margin-bottom: 30px;

  @media (min-width: $desktop-width) {
    margin-bottom: 110px;
  }
}

.specs__heading {
  padding: 0;
  padding-right: 30px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $regular-text-color;
  text-align: left;
}

.specs__description {
  padding: 0;
  padding-left: 25px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $regular-text-color;
  text-align: left;
}

.specs__row {
  height: 40px;
  border-bottom: 1px solid $border-color;
}
