.specs {
  border-collapse: collapse;
  margin-bottom: 30px;
  width: 100%;

  @media (min-width: $tablet-width) {
    margin-bottom: 0;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 113px;
  }
}

.specs__heading {
  padding: 0;
  padding-right: 3px;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $regular-text-color;
  text-align: left;

  @media (min-width: $tablet-width) {
    padding-right: 0;
    width: 97px;
  }
}

.specs__description {
  padding: 0;
  font-size: 15px;
  line-height: 20px;
  font-weight: 400;
  color: $regular-text-color;
  text-align: left;
}

.specs__row {
  height: 40px;
  border-bottom: 1px solid $border-color;
}
