.top-menu {
  min-height: 80px;
  border-bottom: 1px solid $border-color;
  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $white-color 58%, #e1e1e1 59%, #f9f9f9 59%);
  }
}

.top-menu__container {
  @media (max-width: 767px) {
    padding: 0 30px;
  }
}
