.top-menu {
  min-height: 80px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    background: linear-gradient(to bottom, $white-color 56%, #e1e1e1 56%, #f9f9f9 57%);
    border-bottom: none;
  }
}

.top-menu__container {
  @media (max-width: 767px) {
    padding: 0;
  }
}
