.user-list {
  @media (min-width: $tablet-width) {
    width: 80%;
    justify-content: flex-end;
    order: 2;
  }

  @media (min-width: $desktop-width) {
    order: 3;
    width: auto;
  }
}

.user-list__link {
  display: block;
  text-decoration: none;
  color: inherit;
  padding: 28px 2px 26px 30px;
  border-bottom: 1px solid $border-color;

  @media (min-width: $tablet-width) {
    padding: 32px 2px 33px 30px;
    border-left: 1px solid $border-color;
    border-bottom: none;
  }
}

.user-list__icon {
  margin-right: 24px;
  vertical-align: sub;

  @media (min-width: $desktop-width) {
    margin-right: 31px;
  }
}

.user-list__text {
  @media (min-width: $tablet-width) {
    display: none;
  }
}

.user-list__link--cart {
  .user-list__icon {
    margin-right: 21px;

    @media (min-width: $desktop-width) {
      margin-right: 26px;
    }
  }
}
