.work-process {
  padding-bottom: 58px;

  @media (min-width: $desktop-width) {
    padding-bottom: 97px;
  }
}

.work-process__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 260px;
  margin: 0 auto;
  border: 1px solid $border-color;
  padding: 22px 0 32px;

  &:hover {
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.1);
  }

  &:active {
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.1);
  }

  @media (min-width: $tablet-width) {
    width: 668px;
    align-items: start;
    padding-top: 0;
    padding-bottom: 45px;
    margin-bottom: 6px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    width: 1050px;
    grid-template-columns: 683px 1fr;
    grid-template-rows: min-content 1fr;
    column-gap: 78px;
    row-gap: 26px;
    padding: 0;
  }
}

.work-process__heading {
  margin: 0;
  margin-bottom: 26px;
  padding-left: 91px;
  font: inherit;
  position: relative;

  &::before {
    @include pseudo(32px, 22px);
    top: 13px;
    left: 33px;
    background: url("../img/camera.svg") no-repeat;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 0;
    padding-left: 106px;

    &::before {
      top: -3px;
      left: 41px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-left: 0;
    padding-top: 96px;
    padding-right: 82px;

    &::before {
      top: 46px;
      left: 0;
    }
  }
}

.work-process__text {
  @include fonts($main-font, 13px, 24px, 400);
  margin: 0;
  margin-bottom: 41px;

  @media (min-width: $tablet-width) {
    font-size: 15px;
    line-height: 30px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.work-process__description {
  padding: 29px 31px 0 33px;

  @media (min-width: $tablet-width) {
    padding: 23px 40px 0;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    padding-right: 33px;
  }
}

.work-process__button {
  padding: 16px 11px;
  line-height: 16px;

  @media (min-width: $desktop-width) {
    width: 230px;
  }
}
