@import "../variables.scss";
@import "../mixins.scss";
@import "../global.scss";

.work-process__heading {
  position: relative;
  padding-left: 57px;

  &::before {
    @include pseudo(32px, 22px);
    top: 10px;
    left: 10px;
    background: url("../img/camera.svg") no-repeat;
  }
}

.work-process__text {
  @include fonts($main-regular-font, 13px, 24px, 400);
  padding-left: 34px;
}
