*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  @include fonts($main-font, 17px, 24px, 700, $bold-text-color);
  display: flex;
  flex-direction: column;
  min-width: 320px;
  overflow-x: hidden;
  margin: 0;
}
