$tablet-widths: 768px;
$desktop-widths: 1150px;

$bold-text-color: #000000;
$regular-text-color: #444444;
$accent-color: #63d1bb;
$light-accent-color: #59d5bc;
$dark-accent-color: #56c3b2;
$interactive-elements-color: #62d1ba;
$links-actions-color: #46c1ae;
$footer-mobile-line-color: #e5e5e5;
$border-color: #ececec;
$wave-decorative-color: #f1f1f1;
$modal-border-color: #c6c6c6;
$white-color: #ffffff;
$main-bold-font: "Open Sans-Bold", "Arial", sans-serif;
$main-regular-font: "Open Sans-Regular", "Arial", sans-serif;

// #231F20 - палка флажка
// #149080 - иконски в списке
// #6BC6B3 - буква на маркере карты
// #F9F9F9 - top menu background-color
